/* CSS crunched with Crunch - http://crunchapp.net/ */
.icon-rotate-45:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.icon-rotate-135:before {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.icon-rotate-225:before {
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}
.icon-rotate-315:before {
  -webkit-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  transform: rotate(315deg);
}
/* ensure rotation occurs inside anchor tags */
a .icon-rotate-45:before,
a .icon-rotate-135:before,
a .icon-rotate-225:before,
a .icon-rotate-315:before {
  display: inline-block;
}
.widget {
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.widget-body {
  padding: 15px;
  display: none;
}
.widget-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.widget-heading > .dropdown .dropdown-toggle {
  color: inherit;
}
.widget-heading div {
  margin-top: -18px;
  font-size: 15px;
}
.widget-heading div span {
  margin-left: 5px;
}
.widget-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}
.widget-title > a {
  color: inherit;
}
.widget-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #dddddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.widget > .list-group,
.widget > .widget-collapse > .list-group {
  margin-bottom: 0;
}
.widget > .list-group .list-group-item,
.widget > .widget-collapse > .list-group .list-group-item {
  border-width: 1px 0;
  border-radius: 0;
}
.widget > .list-group:first-child .list-group-item:first-child,
.widget > .widget-collapse > .list-group:first-child .list-group-item:first-child {
  border-top: 0;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.widget > .list-group:last-child .list-group-item:last-child,
.widget > .widget-collapse > .list-group:last-child .list-group-item:last-child {
  border-bottom: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.widget-heading + .list-group .list-group-item:first-child {
  border-top-width: 0;
}
.list-group + .widget-footer {
  border-top-width: 0;
}
.widget > .table,
.widget > .table-responsive > .table,
.widget > .widget-collapse > .table {
  margin-bottom: 0;
}
.widget > .table caption,
.widget > .table-responsive > .table caption,
.widget > .widget-collapse > .table caption {
  padding-left: 15px;
  padding-right: 15px;
}
.widget > .table:first-child,
.widget > .table-responsive:first-child > .table:first-child {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.widget > .table:first-child > thead:first-child > tr:first-child,
.widget > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child,
.widget > .table:first-child > tbody:first-child > tr:first-child,
.widget > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.widget > .table:first-child > thead:first-child > tr:first-child td:first-child,
.widget > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child,
.widget > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.widget > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.widget > .table:first-child > thead:first-child > tr:first-child th:first-child,
.widget > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child,
.widget > .table:first-child > tbody:first-child > tr:first-child th:first-child,
.widget > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
  border-top-left-radius: 3px;
}
.widget > .table:first-child > thead:first-child > tr:first-child td:last-child,
.widget > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child,
.widget > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.widget > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.widget > .table:first-child > thead:first-child > tr:first-child th:last-child,
.widget > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child,
.widget > .table:first-child > tbody:first-child > tr:first-child th:last-child,
.widget > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
  border-top-right-radius: 3px;
}
.widget > .table:last-child,
.widget > .table-responsive:last-child > .table:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.widget > .table:last-child > tbody:last-child > tr:last-child,
.widget > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child,
.widget > .table:last-child > tfoot:last-child > tr:last-child,
.widget > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.widget > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.widget > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.widget > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.widget > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.widget > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.widget > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.widget > .table:last-child > tfoot:last-child > tr:last-child th:first-child,
.widget > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
  border-bottom-left-radius: 3px;
}
.widget > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.widget > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.widget > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.widget > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.widget > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.widget > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.widget > .table:last-child > tfoot:last-child > tr:last-child th:last-child,
.widget > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
  border-bottom-right-radius: 3px;
}
.widget > .widget-body + .table,
.widget > .widget-body + .table-responsive,
.widget > .table + .widget-body,
.widget > .table-responsive + .widget-body {
  border-top: 1px solid #dddddd;
}
.widget > .table > tbody:first-child > tr:first-child th,
.widget > .table > tbody:first-child > tr:first-child td {
  border-top: 0;
}
.widget > .table-bordered,
.widget > .table-responsive > .table-bordered {
  border: 0;
}
.widget > .table-bordered > thead > tr > th:first-child,
.widget > .table-responsive > .table-bordered > thead > tr > th:first-child,
.widget > .table-bordered > tbody > tr > th:first-child,
.widget > .table-responsive > .table-bordered > tbody > tr > th:first-child,
.widget > .table-bordered > tfoot > tr > th:first-child,
.widget > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
.widget > .table-bordered > thead > tr > td:first-child,
.widget > .table-responsive > .table-bordered > thead > tr > td:first-child,
.widget > .table-bordered > tbody > tr > td:first-child,
.widget > .table-responsive > .table-bordered > tbody > tr > td:first-child,
.widget > .table-bordered > tfoot > tr > td:first-child,
.widget > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
  border-left: 0;
}
.widget > .table-bordered > thead > tr > th:last-child,
.widget > .table-responsive > .table-bordered > thead > tr > th:last-child,
.widget > .table-bordered > tbody > tr > th:last-child,
.widget > .table-responsive > .table-bordered > tbody > tr > th:last-child,
.widget > .table-bordered > tfoot > tr > th:last-child,
.widget > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
.widget > .table-bordered > thead > tr > td:last-child,
.widget > .table-responsive > .table-bordered > thead > tr > td:last-child,
.widget > .table-bordered > tbody > tr > td:last-child,
.widget > .table-responsive > .table-bordered > tbody > tr > td:last-child,
.widget > .table-bordered > tfoot > tr > td:last-child,
.widget > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
  border-right: 0;
}
.widget > .table-bordered > thead > tr:first-child > td,
.widget > .table-responsive > .table-bordered > thead > tr:first-child > td,
.widget > .table-bordered > tbody > tr:first-child > td,
.widget > .table-responsive > .table-bordered > tbody > tr:first-child > td,
.widget > .table-bordered > thead > tr:first-child > th,
.widget > .table-responsive > .table-bordered > thead > tr:first-child > th,
.widget > .table-bordered > tbody > tr:first-child > th,
.widget > .table-responsive > .table-bordered > tbody > tr:first-child > th {
  border-bottom: 0;
}
.widget > .table-bordered > tbody > tr:last-child > td,
.widget > .table-responsive > .table-bordered > tbody > tr:last-child > td,
.widget > .table-bordered > tfoot > tr:last-child > td,
.widget > .table-responsive > .table-bordered > tfoot > tr:last-child > td,
.widget > .table-bordered > tbody > tr:last-child > th,
.widget > .table-responsive > .table-bordered > tbody > tr:last-child > th,
.widget > .table-bordered > tfoot > tr:last-child > th,
.widget > .table-responsive > .table-bordered > tfoot > tr:last-child > th {
  border-bottom: 0;
}
.widget > .table-responsive {
  border: 0;
  margin-bottom: 0;
}
.widget-group {
  margin-bottom: 20px;
}
.widget-group .widget {
  margin-bottom: 0;
  border-radius: 4px;
}
.widget-group .widget + .widget {
  margin-top: 5px;
}
.widget-group .widget-heading {
  border-bottom: 0;
}
.widget-group .widget-heading + .widget-collapse > .widget-body,
.widget-group .widget-heading + .widget-collapse > .list-group {
  border-top: 1px solid #dddddd;
}
.widget-group .widget-footer {
  border-top: 0;
}
.widget-group .widget-footer + .widget-collapse .widget-body {
  border-bottom: 1px solid #dddddd;
}
.widget-default {
  border-color: #dddddd;
}
.widget-default > .widget-heading {
  color: #333333;
  background-color: #f5f5f5;
  border-color: #dddddd;
}
.widget-default > .widget-heading + .widget-collapse > .widget-body {
  border-top-color: #dddddd;
}
.widget-default > .widget-heading .badge {
  color: #f5f5f5;
  background-color: #333333;
}
.widget-default > .widget-footer + .widget-collapse > .widget-body {
  border-bottom-color: #dddddd;
}
.widget-primary {
  border-color: #337ab7;
}
.widget-primary > .widget-heading {
  color: #ffffff;
  background-color: #337ab7;
  border-color: #337ab7;
}
.widget-primary > .widget-heading + .widget-collapse > .widget-body {
  border-top-color: #337ab7;
}
.widget-primary > .widget-heading .badge {
  color: #337ab7;
  background-color: #ffffff;
}
.widget-primary > .widget-footer + .widget-collapse > .widget-body {
  border-bottom-color: #337ab7;
}
.widget-success {
  border-color: #d6e9c6;
}
.widget-success > .widget-heading {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.widget-success > .widget-heading + .widget-collapse > .widget-body {
  border-top-color: #d6e9c6;
}
.widget-success > .widget-heading .badge {
  color: #dff0d8;
  background-color: #3c763d;
}
.widget-success > .widget-footer + .widget-collapse > .widget-body {
  border-bottom-color: #d6e9c6;
}
.widget-info {
  border-color: #bce8f1;
}
.widget-info > .widget-heading {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.widget-info > .widget-heading + .widget-collapse > .widget-body {
  border-top-color: #bce8f1;
}
.widget-info > .widget-heading .badge {
  color: #d9edf7;
  background-color: #31708f;
}
.widget-info > .widget-footer + .widget-collapse > .widget-body {
  border-bottom-color: #bce8f1;
}
.widget-warning {
  border-color: #faebcc;
}
.widget-warning > .widget-heading {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.widget-warning > .widget-heading + .widget-collapse > .widget-body {
  border-top-color: #faebcc;
}
.widget-warning > .widget-heading .badge {
  color: #fcf8e3;
  background-color: #8a6d3b;
}
.widget-warning > .widget-footer + .widget-collapse > .widget-body {
  border-bottom-color: #faebcc;
}
.widget-danger {
  border-color: #ebccd1;
}
.widget-danger > .widget-heading {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.widget-danger > .widget-heading + .widget-collapse > .widget-body {
  border-top-color: #ebccd1;
}
.widget-danger > .widget-heading .badge {
  color: #f2dede;
  background-color: #a94442;
}
.widget-danger > .widget-footer + .widget-collapse > .widget-body {
  border-bottom-color: #ebccd1;
}
