//== Widgets
//
//##

@widget-bg:                    @panel-bg;
@widget-body-padding:          @panel-body-padding;
@widget-heading-padding:       @panel-heading-padding;
@widget-footer-padding:        @panel-footer-padding;
@widget-border-radius:         @panel-border-radius;

//** Border color for elements within panels
@widget-inner-border:          @panel-inner-border;
@widget-footer-bg:             @panel-footer-bg;

@widget-default-text:          @panel-default-text;
@widget-default-border:        @panel-default-border;
@widget-default-heading-bg:    @panel-default-heading-bg;

@widget-primary-text:          @panel-primary-text;
@widget-primary-border:        @panel-primary-border;
@widget-primary-heading-bg:    @panel-primary-heading-bg;

@widget-success-text:          @panel-success-text;
@widget-success-border:        @panel-success-border;
@widget-success-heading-bg:    @panel-success-heading-bg;

@widget-info-text:             @panel-info-text;
@widget-info-border:           @panel-info-border;
@widget-info-heading-bg:       @panel-info-heading-bg;

@widget-warning-text:          @panel-warning-text;
@widget-warning-border:        @panel-warning-border;
@widget-warning-heading-bg:    @panel-warning-heading-bg;

@widget-danger-text:           @panel-danger-text;
@widget-danger-border:         @panel-danger-border;
@widget-danger-heading-bg:     @panel-danger-heading-bg;
