@import "../../../../twbs/bootstrap/less/variables.less";
@import (reference) "../../../../twbs/bootstrap/less/mixins.less";
@import (reference) "../../../../twbs/bootstrap/less/panels.less";

@import "variables.less";
@import "mixins.less";

.icon-rotate-45:before {
    .rotate(45deg);
}

.icon-rotate-135:before {
    .rotate(135deg);
}

.icon-rotate-225:before {
    .rotate(225deg);
}

.icon-rotate-315:before {
    .rotate(315deg);
}
/* ensure rotation occurs inside anchor tags */
a {
  .icon-rotate-45, .icon-rotate-135, .icon-rotate-225, .icon-rotate-315 {
    &:before { display: inline-block; }
  }
}

//
// Widgets
// --------------------------------------------------
// Base class
.widget {
  margin-bottom: @line-height-computed;
  background-color: @widget-bg;
  border: 1px solid transparent;
  border-radius: @widget-border-radius;
  .box-shadow(0 1px 1px rgba(0,0,0,.05));
}

// Widget contents
.widget-body {
  padding: @widget-body-padding;
  &:extend(.clearfix all);
  display: none;
}

// Optional heading
.widget-heading {
  padding: @widget-heading-padding;
  border-bottom: 1px solid transparent;
  .border-top-radius((@widget-border-radius - 1));

  > .dropdown .dropdown-toggle {
    color: inherit;
  }
  div {
        margin-top: -18px;
	    font-size: 15px;
	    span {
	       margin-left: 5px;
	   }
    }
}

// Within heading, strip any `h*` tag of its default margins for spacing.
.widget-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: ceil((@font-size-base * 1.125));
  color: inherit;

  > a {
    color: inherit;
  }
}

// Optional footer (stays gray in every modifier class)
.widget-footer {
  padding: @widget-footer-padding;
  background-color: @widget-footer-bg;
  border-top: 1px solid @widget-inner-border;
  .border-bottom-radius((@widget-border-radius - 1));
}


// List groups in widgets
//
// By default, space out list group content from widget headings to account for
// any kind of custom content between the two.

.widget {
  > .list-group,
  > .widget-collapse > .list-group {
    margin-bottom: 0;

    .list-group-item {
      border-width: 1px 0;
      border-radius: 0;
    }

    // Add border top radius for first one
    &:first-child {
      .list-group-item:first-child {
        border-top: 0;
        .border-top-radius((@widget-border-radius - 1));
      }
    }
    // Add border bottom radius for last one
    &:last-child {
      .list-group-item:last-child {
        border-bottom: 0;
        .border-bottom-radius((@widget-border-radius - 1));
      }
    }
  }
}
// Collapse space between when there's no additional content.
.widget-heading + .list-group {
  .list-group-item:first-child {
    border-top-width: 0;
  }
}
.list-group + .widget-footer {
  border-top-width: 0;
}

// Tables in widgets
//
// Place a non-bordered `.table` within a widget (not within a `.widget-body`) and
// watch it go full width.

.widget {
  > .table,
  > .table-responsive > .table,
  > .widget-collapse > .table {
    margin-bottom: 0;

    caption {
      padding-left: @widget-body-padding;
      padding-right: @widget-body-padding;
    }
  }
  // Add border top radius for first one
  > .table:first-child,
  > .table-responsive:first-child > .table:first-child {
    .border-top-radius((@widget-border-radius - 1));

    > thead:first-child,
    > tbody:first-child {
      > tr:first-child {
        border-top-left-radius: (@widget-border-radius - 1);
        border-top-right-radius: (@widget-border-radius - 1);

        td:first-child,
        th:first-child {
          border-top-left-radius: (@widget-border-radius - 1);
        }
        td:last-child,
        th:last-child {
          border-top-right-radius: (@widget-border-radius - 1);
        }
      }
    }
  }
  // Add border bottom radius for last one
  > .table:last-child,
  > .table-responsive:last-child > .table:last-child {
    .border-bottom-radius((@widget-border-radius - 1));

    > tbody:last-child,
    > tfoot:last-child {
      > tr:last-child {
        border-bottom-left-radius: (@widget-border-radius - 1);
        border-bottom-right-radius: (@widget-border-radius - 1);

        td:first-child,
        th:first-child {
          border-bottom-left-radius: (@widget-border-radius - 1);
        }
        td:last-child,
        th:last-child {
          border-bottom-right-radius: (@widget-border-radius - 1);
        }
      }
    }
  }
  > .widget-body + .table,
  > .widget-body + .table-responsive,
  > .table + .widget-body,
  > .table-responsive + .widget-body {
    border-top: 1px solid @table-border-color;
  }
  > .table > tbody:first-child > tr:first-child th,
  > .table > tbody:first-child > tr:first-child td {
    border-top: 0;
  }
  > .table-bordered,
  > .table-responsive > .table-bordered {
    border: 0;
    > thead,
    > tbody,
    > tfoot {
      > tr {
        > th:first-child,
        > td:first-child {
          border-left: 0;
        }
        > th:last-child,
        > td:last-child {
          border-right: 0;
        }
      }
    }
    > thead,
    > tbody {
      > tr:first-child {
        > td,
        > th {
          border-bottom: 0;
        }
      }
    }
    > tbody,
    > tfoot {
      > tr:last-child {
        > td,
        > th {
          border-bottom: 0;
        }
      }
    }
  }
  > .table-responsive {
    border: 0;
    margin-bottom: 0;
  }
}


// Collapsable widget (aka, accordion)
//
// Wrap a series of widget in `.widget-group` to turn them into an accordion with
// the help of our collapse JavaScript plugin.

.widget-group {
  margin-bottom: @line-height-computed;

  // Tighten up margin so it's only between widget
  .widget {
    margin-bottom: 0;
    border-radius: @widget-border-radius;

    + .widget {
      margin-top: 5px;
    }
  }

  .widget-heading {
    border-bottom: 0;

    + .widget-collapse > .widget-body,
    + .widget-collapse > .list-group {
      border-top: 1px solid @widget-inner-border;
    }
  }

  .widget-footer {
    border-top: 0;
    + .widget-collapse .widget-body {
      border-bottom: 1px solid @widget-inner-border;
    }
  }
}

// Contextual variations
.widget-default {
  .widget-variant(@widget-default-border; @widget-default-text; @widget-default-heading-bg; @widget-default-border);
}
.widget-primary {
  .widget-variant(@widget-primary-border; @widget-primary-text; @widget-primary-heading-bg; @widget-primary-border);
}
.widget-success {
  .widget-variant(@widget-success-border; @widget-success-text; @widget-success-heading-bg; @widget-success-border);
}
.widget-info {
  .widget-variant(@widget-info-border; @widget-info-text; @widget-info-heading-bg; @widget-info-border);
}
.widget-warning {
  .widget-variant(@widget-warning-border; @widget-warning-text; @widget-warning-heading-bg; @widget-warning-border);
}
.widget-danger {
  .widget-variant(@widget-danger-border; @widget-danger-text; @widget-danger-heading-bg; @widget-danger-border);
}