<style>
<!--

.clickable {
	cursor: pointer;
}


-->
</style>

<div class="widget widget-default widget-primary">
    <div class="widget-heading">

        <h3 class="widget-title">Widget title</h3>
        <div class="pull-right">
            <button class="btn btn-default btn-xs btn-filter">
                <i class="icon-filter"></i> Filter
            </button>

            <!-- standard actions -->
            <!-- /widget/<name>/minimize -->
            <!-- /widget/<name>/restore -->
            <!-- /widget/<name>/maximize -->
            <!-- /widget/<name>/remove -->
            <!-- /widget/<name>/edit -->
            <!-- /widget/<name>/help -->

            <button class="btn btn-default btn-xs btn-minimize">
                <i class="icon-resize-small"></i>
            </button>
            <button class="btn btn-default btn-xs btn-restore">
                <i class="icon-long-arrow-up icon-rotate-45"></i>
            </button>
            <button class="btn btn-default btn-xs btn-maximize">
                <i class="icon-resize-full"></i>
            </button>
            <button class="btn btn-default btn-xs btn-remove">
                <i class="icon-remove"></i>
            </button>
            <button class="btn btn-default btn-xs btn-edit">
                <i class="icon-cog"></i>
            </button>
            <button class="btn btn-default btn-xs btn-help">
                <i class="icon-question"></i>
            </button>
        </div>
    </div>
    <div class="widget-body">Basic widget example</div>

    <?php echo $this->renderChildModel('widget-content')?>

    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Group</th>
                <th>Website</th>
            </tr>
        </thead>
        <tbody>
        <?php if ($stores):?>
        <?php foreach ($stores as $store):?>
            <tr>
                <td><?php echo $store->getName();?></td>
                <td><?php echo $store->getGroup()->getName();?></td>
                <td><?php echo $store->getWebsite()->getName();?></td>
            </tr>
        <?php endforeach; ?>
        <?php else: ?>
            <tr>
                <td colspan="3">Nothing available</td>
            </tr>
        <?php endif;?>
        </tbody>
    </table>
</div>
